@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;

}
#container{
    width: 250px;
    padding: 10px;
    margin: auto;
    margin-top: 250px;
    background: white;
    border-radius: 4px;
    

}
body{
    background: rgb(33, 33, 59);
}
input
{
    width: 100%;
    padding: 5px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
}
h1{
    margin-bottom: 20px;
    margin-left: 10px;
}
#hello{
    text-align: center;
    width: 100%;
    font-size: 20px;
    background:  rgb(33, 33, 59);
    color: white;
    padding: 5px;
    border-radius: 5px;

}